.heading{
    color: #2b2d42;
}
.upass-form-container{
    display: flex;
    flex-direction: column;
}
.button{
    background-color: #2b2d42;
    width: 100%;
}
input {
    margin-bottom: 30px;
    border-radius: 5px ;
}
label {
    margin-bottom: 10px;
}
.para{
    margin-top: 10px;
    text-align: center;
}

.key-icon{
        font-size: 60px !important;
        color: #d3d3d3 !important;
        box-shadow: -3px -3px 15px #e9e9e9 ,3px 3px 10px #e9ebee;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        margin: 0 auto;
        line-height: 1.5;
}

@media only screen and (max-device-width: 1080px){
    .form{
        border: 1px solid #2b2d42;
        width: 80%;
        padding: 50px 20px ;
        text-align: left;
    }
}
