.heading{
    color: #2b2d42;
}
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 20px 0px;

}
.form{
    border: 1px solid #2b2d42;
    width: 50%;
    padding: 50px 100px ;
    text-align: left;
}
.contactus{
    padding-bottom: 50px;
    text-align: center;
    color: black;
    font-weight: bold;
}
.contactus h4{
    color: black;
    font-weight: 600;
    font-size: 36px;
}
.button{
    background-color: #2b2d42;
    width: 100%;
}
input {
    margin-bottom: 30px;
    border-radius: 5px ;
}
label {
    margin-bottom: 10px;
}
.para{
    margin-top: 10px;
    text-align: center;
}


@media only screen and (max-device-width: 1080px){
    .form{
        border: 1px solid #2b2d42;
        width: 80%;
        padding: 50px 20px ;
        text-align: left;
    }
}
