.body-color {
  min-height: 100vh; 
}


.thumbnail {
  height: 80px;
  width: 80px;
}

.profile_pic {
  display: flex;
  height: 25px;
  width: 25px;
}

.del_btn:hover{
  color: red;
}
.edit_btn:hover{
  color:rgb(24, 149, 53);
}

.btn-label {
  padding: 3px  15px ;
  margin: 10px 10px;
  background-color: var(--primary-color);
  color: aliceblue;
  z-index: 5;
  
}
.btn-label:hover {
  background-color: var(--hover-color); /* Slightly lighter shade on hover */
  color: var(--text-color); /* Ensure text remains visible */
  opacity: 1; /* Remove transparency on hover for inactive buttons */
}
/* label CSS */
.list-group-items {
  background-color: #FFFFFF;
  color: var(--text-color);
  transition: all 0.3s ease;
  /* border: 1px solid var(--secondary-color); */
  border-radius: 10px;
  box-shadow: rgba(142, 142, 142, 0.1) 0px 2px 8px 0px;
}
.list-group-items:hover {
  background-color: var(--hover-color); /* Lighter shade on hover */
  border-color: var(--primary-color);
  box-shadow: var(--box-shadow-color) 0px 2px 8px 0px; ; /* Box shadow on hover */
  transform: translateY(-5px);
  transition: all 0.3s ease; /* Smooth transition */
}
/* .outer_label_container {
 
  overflow: hidden; /* Ensure no overflow outside the container */
 

.label_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.label_list {

  scroll-behavior: smooth;
  width: 92%;
 
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.label_list::-webkit-scrollbar {
  display: none;
}

.btn-label {
  margin: 8px;
  
  border: 1px solid #ccc;
  cursor: pointer;
}

.btn-active {
  background-color: #007bff;
  color: white;
}



/* .label-badge {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 1rem;
  font-size: 1rem;
}  */
  .label_container {
    background-color: var(--background-color);
    
  }


  /* .outer_label_container {
    width: 92%;
    overflow: hidden;
  } */
  
  /* .label_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  } */
  
  /* .label_list {
    display: flex;
    
    white-space: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    
  } */
  
  /* .btn-label {
    
    margin: 5px;
    border-radius: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
  } */
  
  /* .btn-active {
    background-color: #007bff;
    color: white;
  } */
  
  /* .btn-inactive {
    background-color: white;
    color: black;
    border-color: #007bff;
  } */
  
  .scroll-btn-left,
  .scroll-btn-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    
    cursor: pointer;
  }
  
  .scroll-btn-left {
    left: 10px;
  }
  
  .scroll-btn-right {
    right: 10px;
  }
  


