body {
    margin: 0;
    font-family: Arial, sans-serif;
    /* background-color: #f8f9fa; */
    color: #343a40;
}

.homepage {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

.homepage header h1 {
    color: #007bff;
    margin-bottom: 10px;
}

.posts-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.post {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.post img {
    width: 100%;
    height: auto;
    display: block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.post-content {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.post h3 {
    color: #333;
    margin-bottom: 10px;
}

.post p {
    color: #666;
    margin-bottom: 15px;
}

.read-more {
    color: #007bff;
    text-decoration: none;
}

.read-more:hover {
    text-decoration: underline;
}

.loader {
    margin: 20px auto;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #007bff;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.error {
    text-align: center;
    margin-top: 20px;
    color: red;
}
