.heading {
  color: #1e4682;
}
.register-form-container {
  padding-top: 80px;
  margin-bottom: 40px;
}
.register-form {
  width: 70%;
  background-color: #e4f6fb;
  box-shadow:17px 6px 15px #aec8f0;
  border-radius: 12px;
  padding: 20px 50px;
  text-align: left;
}
.btn-submit {
  background-color: #55c360;
  color: white;
  width: 100%;
}
.btn-submit:hover {
  background-color: #1d8d28 !important;
}
input {
  margin-bottom: 0px;
  border-radius: 5px;
}
label {
  margin-bottom: 10px;
}
.para {
  margin-top: 10px;
  text-align: center;
}

.register_input {
  margin-bottom: 7px;
  border-radius: 7px;
}

.form-error {
  color: red;
}

@media only screen and (max-device-width: 1080px) {
  .register-form {
    border: 1px solid #2b2d42;
    width: 90%;
    padding: 50px 20px;
    text-align: left;
  }
}
