.left{
  width: 60%;
}
.login{
    width: 45%;
    border: 1px solid black;
    padding: 45px;
    margin: 55px 0px;
}
.btn-submit{
  width:100%;
  display: block;
  background-color: #2B2D42;
  color: white;
}
.btn-submit:hover{
  background-color: #2B2D42;
  color: white;
}