
.left{
  width: 60%;
}
.login{
    width: 45%;
    border: 1px solid #1E4682;
    padding: 45px;
    margin: 55px 0px;
}
.login-page{
  /* margin-top: 60px; */
  padding-top: 60px;
}
.btn-submit{
  width:100%;
  display: block;
  background-color: #55c360;
  color: white;
}
.btn-submit:hover{
  background-color: #55c360;
  color: white;
}
.eye-position{
  position: absolute;
  top: 15px;
  right: 10px;
}
@media only screen and (min-device-width: 1080px){
  .login-page{
    display: flex;
  }
}
@media only screen and (max-device-width: 1079px){ 
  .login{
    display: block;
    width: 100%;
  }
  .left{
    display: block;
    width: 100%;
  }
  .form-error{
    color: red;
}
 }